#SpeedDialopenIconexample-actions {
    margin-bottom: 6px;
}

.css-1ex1afd-MuiTableCell-root {
    border: 1px solid rgba(224, 224, 224, 1);
}

.css-1ijrop1-MuiTableCell-root {
    border: 1px solid rgba(224, 224, 224, 1);
}

.css-1gjgmky-MuiToggleButtonGroup-root {
    margin-top: 15px;
}

.hieght {
    height: 30px;
}

div[role="tooltip"] {
    z-index: 9999999999;
}