#SpeedDialopenIconexample-actions {
    margin-bottom: 6px;
}

.css-1ex1afd-MuiTableCell-root {
    border: 1px solid rgba(224, 224, 224, 1);
}

.css-1ijrop1-MuiTableCell-root {
    border: 1px solid rgba(224, 224, 224, 1);
}

.css-1gjgmky-MuiToggleButtonGroup-root {
    margin-top: 15px;
}

div[role="tooltip"] {
    z-index: 9999999999;
}

.css-178cqt3-MuiButtonBase-root-MuiListItemButton-root:hover {
    border-radius: 10px;
}

.css-w91adl-MuiPaper-root-MuiAccordion-root:before,
.css-qzmcqv-MuiPaper-root-MuiAccordion-root:before,
.css-bz4dnt-MuiCollapse-root {
    display: none;
}