* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.form_auth_company {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inline_flex {
  display: flex;
  gap: 15px;
  flex-direction: row-reverse;
  justify-content: start;
}

label {
  cursor: pointer;
  width: max-content;
}

input {
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 10px bisque;
  border: 2px solid bisque;
}

input:hover {
  box-shadow: none;
}

.btn_auth_company {
  color: #fff;
  background: #1f264a;
  border-color: #1f264a;
  text-align: center;
  padding: 12px 40px;
  min-width: 190px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 3px;
}

.btn_auth_company:hover {
  background: #2e3869;
  border-color: #2e3869;
}

.link_reg {
  color: blue;
  text-decoration: 2px solid underline blue;
  cursor: pointer;
}

.reg {
  display: flex;
  gap: 10px;
}

.link_reg:hover {
  text-decoration: none;
}

.form_auth_company .mini_form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input_from_auth {
  padding: 10px;
  border-radius: 10px;
}

.PhoneInputCountryIconImg {
  height: 50px;
}

.PhoneInput {
  display: flex;
  gap: 15px;
}

.PhoneInputInput {
  border-radius: 10px;
  width: 700px;
  padding-left: 10px;
}

.PhoneInputCountry select {
  width: 20px;
  border: none;
  cursor: pointer;
  height: 20px;
  outline: none;
  margin-top: 20px;
}

.PhoneInputCountry {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
}

.checks_not_null, .checks_null, .check_password_true, .check_password_false, .empty_all_fields, .check_password_true_1, .check_password_false_1 {
  display: none;
  padding: 10px;
  box-shadow: 0 0 10px bisque;
  border-radius: 10px;
  min-width: 119px;
  text-align: center;
}

.continue, .continue_btn {
  display: none;
  cursor: pointer;
  padding: 10px;
  background: blue;
  color: #FFF;
  border-radius: 10px;
  min-width: 119px;
  text-align: center;
  box-shadow: 0 0 10px blue;
}

.continue:hover, .continue_btn:hover {
  box-shadow: none;
}

.loader {
  display: none;
}

.checks_null, .empty_all_fields, .check_password_false_1 {
  box-shadow: 1px 1px 10px #ff2e2e;
}

.header {
  padding: 20px;
  background: #1F264A;
}

.header_1 {
  display: flex;
  gap: 15px;
  align-items: center;
  color: #FFF;
}

.question {
  rotate: 180deg;
  border: 2px solid #FFF;
  border-radius: 100%;
  padding: 12px 7px;
  height: 10px;
  width: 20px;
  display: flex;
  cursor: pointer;
  box-shadow: 0 0 10px;
  align-items: center;
  justify-content: center;
}

.question:hover, .down_line:hover {
  box-shadow: none;
  text-decoration: none;
}

.down_line {
  text-decoration: 2px solid underline;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

.down_line_settings {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn_enter_company {
  padding: 10px;
  background: beige;
  border-radius: 10px;
  box-shadow: 0 0 10px;
  cursor: pointer;
}

.btn_enter_company:hover {
  box-shadow: none;
}

.arrow {
  rotate: 180deg;
  height: 10px;
}

.footer {
  background: black;
  color: #FFF;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.body {
  height: 159vW;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.text_registration_company {
  text-align: center;
}

.link_reg_company {
  width: max-content;
  margin: auto;
}

.logout_btn {
  padding: 10px;
  cursor: pointer;
}

.burger_menu svg {
  height: 50px;
  width: 50px;
}

.footer div {
  width: max-content;
}

.rotate_0_deg {
  rotate: 0deg;
}

.NamePerson {
  cursor: pointer;
  text-decoration: 2px solid underline;
}

.NamePerson:hover {
  text-decoration: none;
}

.header_768 {
  display: none;
}

.header_320 {
  display: flex;
  justify-content: space-between;
}

.none {
  display: none;
}

.block {
  display: block;
}

@media (min-width: 768px) {
  .header_768 {
    display: flex;
    justify-content: space-between;
  }

  .header_320 {
    display: none;
  }

  .body {
    height: 50vW;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
}