.form_auth_company {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inline_flex {
  display: flex;
  gap: 15px;
  flex-direction: row-reverse;
  justify-content: start;
}

.dark_line_header {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  background: black;
  color: #FFF;
  box-shadow: 0 0 10px black;
}

.dark_line_header:hover {
  box-shadow: none;
}

input {
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 10px bisque;
  border: 2px solid bisque;
}

input:hover {
  box-shadow: none;
}

.btn_auth_company {
  color: #fff;
  background: #1f264a;
  border-color: #1f264a;
  text-align: center;
  padding: 12px 40px;
  min-width: 190px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 3px;
}

.btn_auth_company:hover {
  background: #2e3869;
  border-color: #2e3869;
}

.link_reg {
  color: blue;
  text-decoration: 2px solid underline blue;
  cursor: pointer;
}

.reg {
  display: flex;
  gap: 10px;
}

.link_reg:hover {
  text-decoration: none;
}

.form_auth_company .mini_form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input_from_auth {
  padding: 10px;
  border-radius: 10px;
}

.PhoneInputCountryIconImg {
  height: 50px;
}

.PhoneInput {
  display: flex;
  gap: 15px;
}

.PhoneInputInput {
  border-radius: 10px;
  width: 700px;
  padding-left: 10px;
}

.PhoneInputCountry select {
  width: 20px;
  border: none;
  cursor: pointer;
  height: 20px;
  outline: none;
  margin-top: 20px;
}

.PhoneInputCountry {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
}

.checks_not_null, .checks_null, .check_password_true, .check_password_false, .empty_all_fields, .check_password_true_1, .check_password_false_1 {
  display: none;
  padding: 10px;
  box-shadow: 0 0 10px bisque;
  border-radius: 10px;
  min-width: 119px;
  text-align: center;
}

.continue, .continue_btn {
  display: none;
  cursor: pointer;
  padding: 10px;
  background: blue;
  color: #FFF;
  border-radius: 10px;
  min-width: 119px;
  text-align: center;
  box-shadow: 0 0 10px blue;
}

.continue:hover, .continue_btn:hover {
  box-shadow: none;
}

.loader {
  display: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.checks_null, .empty_all_fields, .check_password_false_1 {
  box-shadow: 1px 1px 10px #ff2e2e;
}

.header {
  padding: 20px;
  background: #1F264A;
  position: fixed;
  width: 100%;
}

.header_1 {
  display: flex;
  gap: 15px;
  align-items: center;
  color: #FFF;
}

.down_line:hover {
  text-decoration: none;
  box-shadow: none;
}

.logotype {
  width: 50px;
  height: 50px;
  background: url("../public/img/logotype.png") no-repeat;
  background-size: 50px;
  cursor: pointer;
}

.down_line {
  cursor: pointer;
  padding: 10px;
  box-shadow: 0 0 10px blue;
  border-radius: 10px;
  background: aqua;
  color: black;
}

.down_line_settings {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn_enter_company {
  padding: 10px;
  background: beige;
  border-radius: 10px;
  box-shadow: 0 0 10px;
  cursor: pointer;
}

.btn_enter_company:hover {
  box-shadow: none;
}

.arrow {
  rotate: 180deg;
  height: 10px;
}

.footer {
  background: black;
  color: #FFF;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.text_registration_company {
  text-align: center;
}

.link_reg_company {
  width: max-content;
  margin: auto;
}

.logout_btn {
  padding: 10px;
  cursor: pointer;
}

.burger_menu svg {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.footer div {
  width: max-content;
}

.rotate_0_deg {
  rotate: 0deg;
}

.NamePerson {
  cursor: pointer;
  padding: 10px;
  background: aqua;
  border-radius: 10px;
  color: black;
  box-shadow: 0 0 10px blue;
}

.NamePerson:hover {
  text-decoration: none;
  box-shadow: none;
}

.enter_company_form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.enter_company_btn {
  padding: 10px;
  background: blue;
  color: #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
  width: 100px;
  text-align: center;
  box-shadow: 0 0 10px blue;
}

.enter_company_btn:hover {
  box-shadow: none;
}

.input_name_company, .input_password_company {
  padding: 10px;
  border-radius: 10px;
}

.input_owner_company {
  cursor: no-drop;
}

.input_owner_company:hover {
  box-shadow: 0 0 10px bisque;
}

.content_enter_company {
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.close_menu {
  display: none;
  width: 50px;
  height: 50px;
  background: url("../public/img/close_menu_btn.png") no-repeat;
  background-size: 50px;
  cursor: pointer;
}

.btn_close_profile {
  width: 50px;
  height: 50px;
  background: url("../public/img/close_menu_btn.png") no-repeat;
  background-size: 50px;
  cursor: pointer;
  margin-left: auto;
}

.btn_close_page {
  width: 50px;
  height: 50px;
  background: url("../public/img/close_menu_btn.png") no-repeat;
  background-size: 50px;
  cursor: pointer;
  margin-right: auto;
}

.form_change_info {
  display: none;
  background: aliceblue;
  padding: 20px;
  border: 2px solid bisque;
  border-radius: 10px;
}

.form_change_info div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 22px;
}

.edit_profile_input {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px bisque;
  cursor: pointer;
}

.btn_change_info_success {
  padding: 10px;
  background: blue;
  color: #FFF;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  box-shadow: 0 0 10px blue;
}

.btn_change_info_success:hover {
  box-shadow: none;
}

.btn_create_company, .btn_open_file, .btn_settings, .btn_open_support, .btn_open_profile, .btn_logout {
  text-align: center;
  padding: 10px;
  background: aqua;
  border-radius: 10px;
  box-shadow: 0 0 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.btn_create_company:hover, .btn_open_file:hover, .btn_settings:hover, .btn_open_support:hover, .btn_open_profile:hover, .btn_logout:hover {
  box-shadow: none;
}

.open_header_320 {
  display: none;
  height: 100vh;
}

.body_no_scroll {
  overflow: hidden;
}

.header_768 {
  display: none;
}

.header_320 {
  display: flex;
  justify-content: space-between;
}

.profile {
  padding: 10px;
}

.info {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: aliceblue;
  padding: 10px;
  border: 2px solid bisque;
  border-radius: 10px;
}

.info div {
  padding: 10px;
  background: antiquewhite;
  border-radius: 10px;
}

.btn_change_info {
  padding: 10px;
  background: blue;
  color: #FFFFFF;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px blue;
}

.btn_change_info:hover {
  box-shadow: none;
}

.form_create_company {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
}

.textarea_desc_company {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px bisque;
  border: 2px solid bisque;
  outline: none;
  cursor: pointer;
}

.textarea_desc_company:hover {
  box-shadow: none;
}

.create_company_btn {
  padding: 10px;
  background: blue;
  width: 100px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px blue;
  cursor: pointer;
  color: #FFF;
}

.create_company_btn:hover {
  box-shadow: none;
}

.settings_theme {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.dark_theme_body {
  background: black;
  color: #FFF;
}

.btn_continue {
  padding: 10px;
  background: blue;
  border-radius: 10px;
  box-shadow: 0 0 10px blue;
  cursor: pointer;
  display: none;
  text-align: center;
  color: #FFF;
  position: fixed;
  bottom: 10px;
  z-index: 9998;
  margin: auto;
  width: 100%;
}

.btn_continue:hover {
  box-shadow: none;
}

.btn_enter_company_dark {
  color: black;
  background: grey;
  box-shadow: 0 0 10px beige;
}

.input_date {
  padding: 10px;
  border-radius: 10px;
}

.form_create_company div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.exists_company {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  margin-top: 30px;
}

.none {
  display: none;
}

.block {
  display: block;
}

.null_value_input {
  border: 2px solid red;
}

@media (min-width: 768px) {
  .header_768 {
    display: flex;
    justify-content: space-between;
  }

  .header_320 {
    display: none;
  }

  .body {
    height: 50vW;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }

  .open_header_320 {
    display: none;
  }

  .enter_company_form {
    width: 96%;
  }

  .text_registration_company {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .exists_company {
    flex-direction: revert;
    justify-content: center;
  }
}